:root {
    --primary-color: #264969;    
    --secondary-color: #505033;  
    --text-color: #333333;       
    --heading-color: #264969;   
    --bg-color: #f4f4f4;         
    --link-color: #b4cde4;
    --white: #ffffff;
    --black-transparent: rgba(0, 0, 0, 0.7);  
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px; 
    margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

nav a {
    color: var(--link-color);
    text-decoration: none;
    margin-right: 15px;
    background-color: var(--bg-color);
}

nav a:hover {
    color: var(--primary-color); 
    text-decoration: underline;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1, 
.hero article {
    position: absolute;
    color: var(--white);
    text-shadow: 2px 2px 5px var(--black-transparent);
}

.hero h1 {
    /* position: absolute; */
    top: 20px;
    left: 20px;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-content {
    position: absolute;
    bottom: 20px;
    left: 20px; 
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    border-radius: 8px;
}

.hero-content img {
    float: right;
    margin-left: 15px;
    width: 150px;
}

.hero-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
}

.history, .adventure {
    margin-top: 4rem;
 }
 
 
 .history h2, .adventure h2 {
    text-align: center;
 }
 
 
 .history .content, .adventure .rafting-gallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
 }
 
 .nav-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 auto;
    width: 70%;
 }
 
 .top-nav {
    padding: 2rem 0;
    margin-bottom: 1rem;
 }
 
 .raft {
    height: 80px;
 } 

 .nav-item {
    margin-left: 3rem;
 }
 

footer a img {
    text-decoration: none;
    border: none;
}

footer {
    display: flex;
    justify-content: center; /* Centers the paragraph */
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bg-color);
    position: relative;
}

footer p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centers the paragraph */
}

.sociallinks {
    display: flex;
    gap: 15px; 
    margin-left: auto; /* Aligns social icons to the right */
}

.sociallinks a {
    text-decoration: none; /* Removes underline */
}

.sociallinks img {
    width: 20px; /* Consistent icon size */
    height: 20px;
}
